.vscode/
.directory
polarization.C
daq
daq.root
fwdTrackerOutput.root
fwdtree.root
check
input/
HelloWorldExample/
temp_gccflags.c
spins/
Run_17_polarization.txt
#StRoot/
.sl73_x8664_gcc485/
.ipynb_checkpoints/
README.md
.sl73_gcc485/
**/.consign
output/